ssl.truststore.location=/etc/kafka/secrets/kafka.producer.truststore.jks
ssl.truststore.password=7WjCvXcv@!trK@2jPUr@H%RhqkdO3OoW

ssl.keystore.location=/etc/kafka/secrets/kafka.producer.keystore.jks
ssl.keystore.password=7WjCvXcv@!trK@2jPUr@H%RhqkdO3OoW

ssl.key.password=7WjCvXcv@!trK@2jPUr@H%RhqkdO3OoW
ssl.endpoint.identification.algorithm= 

security.protocol=SSL
